@model HomeVM;

  <!--  About Section  -->
<div id="about" class="container-fluid wow fadeIn" id="about" data-wow-duration="1.5s">
    <div class="row">
        <div class="col-lg-6 has-img-bg"></div>
        <div class="col-lg-6">
            <div class="row justify-content-center">
                <div class="col-sm-8 py-5 my-5">
                    <h2 class="mb-4">About Us</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, quisquam accusantium nostrum modi, nemo, officia veritatis ipsum facere maxime assumenda voluptatum enim! Labore maiores placeat impedit, vero sed est voluptas!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita alias dicta autem, maiores doloremque quo perferendis, ut obcaecati harum, <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum necessitatibus iste,
                        nulla recusandae porro minus nemo eaque cum repudiandae quidem voluptate magnam voluptatum? <br>Nobis, saepe sapiente omnis qui eligendi pariatur. quis voluptas. Assumenda facere adipisci quaerat. Illum doloremque quae omnis vitae.
                    </p>
                    <p><b>Lonsectetur adipisicing elit. Blanditiis aspernatur, ratione dolore vero asperiores explicabo.</b></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ab itaque modi, reprehenderit fugit soluta, molestias optio repellat incidunt iure sed deserunt nemo magnam rem explicabo vitae. Cum, nostrum, quidem.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  gallary Section  -->
<div id="gallary" class="text-center bg-dark text-light has-height-md middle-items wow fadeIn">
    <h2 class="section-title">OUR MENU</h2>
</div>
<div class="gallary row">
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="~/assets/imgs/gallary-1.jpg" alt="template by DevCRID http://www.devcrud.com/" class="gallary-img">
        <a href="#" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="~/assets/imgs/gallary-2.jpg" alt="template by DevCRID http://www.devcrud.com/" class="gallary-img">
        <a href="#" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="~/assets/imgs/gallary-3.jpg" alt="template by DevCRID http://www.devcrud.com/" class="gallary-img">
        <a href="#" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="~/assets/imgs/gallary-4.jpg" alt="template by DevCRID http://www.devcrud.com/" class="gallary-img">
        <a href="#" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="~/assets/imgs/gallary-5.jpg" alt="template by DevCRID http://www.devcrud.com/" class="gallary-img">
        <a href="#" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="~/assets/imgs/gallary-6.jpg" alt="template by DevCRID http://www.devcrud.com/" class="gallary-img">
        <a href="#" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="~/assets/imgs/gallary-7.jpg" alt="template by DevCRID http://www.devcrud.com/" class="gallary-img">
        <a href="#" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="~/assets/imgs/gallary-8.jpg" alt="template by DevCRID http://www.devcrud.com/" class="gallary-img">
        <a href="#" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="~/assets/imgs/gallary-9.jpg" alt="template by DevCRID http://www.devcrud.com/" class="gallary-img">
        <a href="#" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="~/assets/imgs/gallary-10.jpg" alt="template by DevCRID http://www.devcrud.com/" class="gallary-img">
        <a href="#" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="~/assets/imgs/gallary-11.jpg" alt="template by DevCRID http://www.devcrud.com/" class="gallary-img">
        <a href="#" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
        <img src="~/assets/imgs/gallary-12.jpg" alt="template by DevCRID http://www.devcrud.com/" class="gallary-img">
        <a href="#" class="gallary-overlay">
            <i class="gallary-icon ti-plus"></i>
        </a>
    </div>
</div>

<!-- book a table Section  -->
<div class="container-fluid has-bg-overlay text-center text-light has-height-lg middle-items" id="book-table">
    <div class="">
        <h2 class="section-title mb-5">BOOK A TABLE</h2>
        <div class="row mb-5">
            <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                <input type="email" id="booktable" class="form-control form-control-lg custom-form-control" placeholder="EMAIL">
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                <input type="number" id="booktable" class="form-control form-control-lg custom-form-control" placeholder="NUMBER OF GUESTS" max="20" min="0">
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                <input type="time" id="booktable" class="form-control form-control-lg custom-form-control" placeholder="EMAIL">
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                <input type="date" id="booktable" class="form-control form-control-lg custom-form-control" placeholder="12/12/12">
            </div>
        </div>
        <a href="#" class="btn btn-lg btn-primary" id="rounded-btn">FIND TABLE</a>
    </div>
</div>

<!-- BLOG Section  -->
<div id="blog" class="container-fluid bg-dark text-light py-5 text-center wow fadeIn">
    <h2 class="section-title py-5">EVENTS AT THE FOOD HUT</h2>
    <div class="row justify-content-center">
        <div class="col-sm-7 col-md-4 mb-5">
            @if (Model.Categories.Count > 0)
            {
                <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
                    @foreach (CategoryViewItemDto category in Model.Categories)
                    {
                        <li class="nav-item">
                            <a class="nav-link category-btn" data-category="@category.RestaurantId" role="tab">@category.Name</a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>

    <div class="tab-content" id="products-container">
        <div class="row">
            @foreach (ProductViewItemDto product in Model.Products)
            {
                <div class="col-md-4 product-card">
                    <div class="card bg-transparent border my-3 my-md-0">
                        <img src="~/uploads/products/@product.ImageUrl" alt="Product Image" class="rounded-0 card-img-top img-responsive">
                        <div class="card-body">
                            <h1 class="text-center mb-4"><a href="#" class="badge badge-primary">@product.Price</a></h1>
                            <h4 class="pt20 pb20">@product.Name</h4>
                            <p class="text-white">@product.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll(".category-btn");
        const productsContainer = document.getElementById("products-container");

        buttons.forEach(button => {
            button.addEventListener("click", function () {
                const categoryId = this.getAttribute("data-category");

                buttons.forEach(btn => btn.classList.remove("active"));
                this.classList.add("active");

                fetch(`/Products/GetByCategory?categoryId=${categoryId}`)
                    .then(response => response.json())
                    .then(data => {
                        productsContainer.innerHTML = '<div class="row"></div>';
                        const rowDiv = productsContainer.querySelector(".row");

                        data.forEach(product => {
                            const productElement = document.createElement("div");
                            productElement.classList.add("col-md-4", "product-card");
                            productElement.innerHTML = `
                                <div class="card bg-transparent border my-3 my-md-0">
                                    <img src="/uploads/products/${product.imageUrl}" alt="Product Image" class="rounded-0 card-img-top img-responsive">
                                    <div class="card-body">
                                        <h1 class="text-center mb-4"><a href="#" class="badge badge-primary">${product.price} AZN</a></h1>
                                        <h4 class="pt20 pb20">${product.name}</h4>
                                        <p class="text-white">${product.description}</p>
                                    </div>
                                </div>
                            `;
                            rowDiv.appendChild(productElement);
                        });

                        productsContainer.appendChild(rowDiv);
                    })
                    .catch(error => console.error("Error fetching products:", error));
            });
        });
    });
</script>


<!-- REVIEWS Section  -->
<div id="testmonial" class="container-fluid wow fadeIn bg-dark text-light has-height-lg middle-items">
    <h2 class="section-title my-5 text-center">REVIEWS</h2>
    <div class="row mt-3 mb-5">
        @foreach(ReviewViewItemDto review in Model.Reviews) 
        {
        <div class="col-md-4 my-3 my-md-0">
            <div class="testmonial-card">
                <h3 class="testmonial-title">@review.Name</h3>
                <h6 class="testmonial-subtitle">@review.Position</h6>
                    <h3 class="testmonial-title">@review.Rating</h3>
                <div class="testmonial-body">
                    <p>@review.Comment</p>
                </div>
            </div>
        </div>
        }
    </div>
</div>

<!-- CONTACT Section  -->
<div id="contact" class="container-fluid bg-dark text-light border-top wow fadeIn">
    <div class="row">
        <div class="col-md-6 px-0">
            <div id="map" style="width: 100%; height: 100%; min-height: 400px"></div>
        </div>
        <div class="col-md-6 px-5 has-height-lg middle-items">
            <h3>FIND US</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, laboriosam doloremque odio delectus, sunt magnam laborum impedit molestiae, magni quae ipsum, ullam eos! Alias suscipit impedit et, adipisci illo quam.</p>
            <div class="text-muted">
                <p><span class="ti-location-pin pr-3"></span> 12345 Fake ST NoWhere, AB Country</p>
                <p><span class="ti-support pr-3"></span> (123) 456-7890</p>
                <p><span class="ti-email pr-3"></span>info@website.com</p>
            </div>
        </div>
    </div>
</div>