@model ReservationDto

@{
    ViewData["Title"] = "Reservation Details";
}

<h2>Reservation Details</h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Reservation ID: @Model.Id</h5>
        <h5 class="card-title">Name: @Model.Name</h5>
        <p class="card-text"><strong>Email:</strong> <a href="mailto:@Model.Email">@Model.Email</a></p>
        <p class="card-text"><strong>Number of Guests:</strong> @Model.NumberOfGuests</p>
        <p class="card-text"><strong>Phone Number:</strong> <a href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a></p>
        <p class="card-text"><strong>Reservation Date:</strong> @Model.Date</p>
        <a asp-controller="AdminReservation" asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
